services:
  # 1. Our PostgreSQL Database
  db:
    image: postgres:14-alpine
    container_name: farm-postgres-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: postgres
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
      - postgres-data:/var/lib/postgresql/data

  # 2. Our User Service
  user-service:
    container_name: farm-user-service
    build: ./user-service
    ports:
      - "8081:8081"
    environment:
      DB_URL: jdbc:postgresql://db:5432/user_service_db
      DB_USER: admin
      DB_PASSWORD: password123
      JWT_SECRET: Y2hhbmdlLXRoaXMtc2VjcmV0LWZvci1wcm9kdWN0aW9uLWVudmlyb25tZW50LWl0LXN0b3JlLXNlY3VyZWx5Cg==
      JWT_EXPIRATION_MS: 86400000
    depends_on:
      - db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  # 3. Our Product Service
  product-service:
    container_name: farm-product-service
    build: ./product-service
    ports:
      - "8082:8082"
    environment:
      DB_URL: jdbc:postgresql://db:5432/product_service_db
      DB_USER: admin
      DB_PASSWORD: password123
    depends_on:
      - db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  # 4. Our Inventory Service
  inventory-service:
    container_name: farm-inventory-service
    build: ./inventory-service
    ports:
      - "8083:8083"
    environment:
      DB_URL: jdbc:postgresql://db:5432/inventory_service_db
      DB_USER: admin
      DB_PASSWORD: password123
    depends_on:
      - db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8083/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  # 5. Our Mock Payment Service
  payment-service:
    container_name: farm-payment-service
    build: ./payment-service
    ports:
      - "8084:8084"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8084/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  # 6. Our Order Service
  order-service:
    container_name: farm-order-service
    build: ./order-service
    ports:
      - "8085:8085"
    environment:
      DB_URL: jdbc:postgresql://db:5432/order_service_db
      DB_USER: admin
      DB_PASSWORD: password123
      PRODUCT_SERVICE_URL: http://product-service:8082
      INVENTORY_SERVICE_URL: http://inventory-service:8083
      DELIVERY_SERVICE_URL: http://delivery-service:8086
    depends_on:
      - db
      - product-service
      - inventory-service
      # payment-service:
      #   condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8085/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  # 8. Our Delivery Service
  delivery-service:
    container_name: farm-delivery-service
    build: ./delivery-service
    ports:
      - "8086:8086"
    environment:
      DB_URL: jdbc:postgresql://db:5432/delivery_service_db
      DB_USER: admin
      DB_PASSWORD: password123
      ORDER_SERVICE_URL: http://order-service:8085
      USER_SERVICE_URL: http://user-service:8081
    depends_on:
      - db
      - order-service
      - user-service
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8086/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10
  # 9. Rating Service
  rating-service:
    container_name: farm-rating-service
    build: ./rating-service
    ports:
      - "8087:8087"
    environment:
      DB_URL: jdbc:postgresql://db:5432/rating_service_db
      DB_USER: admin
      DB_PASSWORD: password123
    depends_on:
      - db
      - order-service
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8087/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  # 10. API Gateway
  api-gateway:
    container_name: farm-api-gateway
    build: ./api-gateway
    ports:
      - "8080:8080"
    environment:
      USER_SERVICE_URL: http://user-service:8081
      PRODUCT_SERVICE_URL: http://product-service:8082
      INVENTORY_SERVICE_URL: http://inventory-service:8083
      ORDER_SERVICE_URL: http://order-service:8085
      DELIVERY_SERVICE_URL: http://delivery-service:8086
      RATING_SERVICE_URL: http://rating-service:8087
      JWT_SECRET: Y2hhbmdlLXRoaXMtc2VjcmV0LWZvci1wcm9kdWN0aW9uLWVudmlyb25tZW50LWl0LXN0b3JlLXNlY3VyZWx5Cg==
    depends_on:
      - user-service
      - product-service
      - inventory-service
      - order-service
      - rating-service
      - delivery-service
      # payment-service:
      #   condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

volumes:
  postgres-data:
  redis-data:
